<div class="jumbotron fix-height">
    <div class="d-felx justify-content-between flex-row">
        <button type="button" class="btn btn-labeled btn-success btn-icon" data-toggle="modal"
            data-target="#createNote">
            <span class="btn-label">
                <i class="fas fa-plus-circle"></i>
            </span>
            New Note
        </button>
        <h2 class="text-center">All your notes</h2>
    </div>
    <hr />
    <div id="todayNotes" class="container-fluid list-group scroll-this hidden">
        <h2>Today</h2>
    </div>
    <div id="allNotes" class="container-fluid list-group scroll-this">
        {{>notes (dataSet "notes" user.notes "pjax" pjax)}}
    </div>
    <div id="bookmarkNotes" class="container-fluid list-group scroll-this hidden">
        <h2>Bookmarks</h2>
    </div>
</div>
{{>modals/new}}