<a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <span>Delete note</span>
        <i class="fas fa-trash-alt"></i>
    </div>
</a>
<a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <span>Edit note</span>
        <i class="fas fa-edit"></i>
    </div>
</a>