<div class="container-fluid">
    <div class="jumbotron">
        <h1>Request error</h1>
        <hr />
        <h3>Error message : {{or flash.[0].message error.message}}</h3>
        {{#if flash.[0].stack}}
            {{flash.[0].stack}}
        {{else if dev}}
            <h3>Stack</h3>
            {{error.stack}}
        {{/if}}
        {{#if (not dev)}}
            <p>Please talk to support about this issue!</p>
        {{/if}}
    </div>
</div>