<div class="container-fluid">
    <div class="jumbotron">
        <h1>Request error</h1>
        <hr />
        <p>Error : {{flash.[0].message}}</p>
        <p>{{flash.[0].stack}}</p>
        <p>Please talk to support about this issue!</p>
    </div>
</div>