{{>navbar}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            {{>main}}
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>